<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="personReg.css">
</head>
<body>

  <div class="polisInfo">
    <p>Polismyndigheten</p>
    <P>Porslingsfatan 4B</P>
    <p>221 32 Malmö</p>
    <p>0723995982</p>
  </div>

  <img src="../../media/pictures/rapportImg.png" alt="Polisens logga">
  <h1>PERSONREGISTER</h1>
  <div class="personInfo">
    <img src="../../media/pictures/">
  </div>
  
</body>
</html>