.body-landingpage {
  background-color: var(--darkblue);
  background-image: url('./../../media/pictures/copBackground.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 64px;
  display: flex;
}

/* Wrapper */
#wrapper-landingpage {
  width: 100%;
  height: 100vh;
  margin: 16px;
}

/* h1, h2, p */
#wrapper-landingpage h1,
#wrapper-landingpage h2,
#wrapper-landingpage p {
  color: white;
}

#wrapper-landingpage h1 {
  margin-top: 80px;
  margin-bottom: 24px;
  font-family: "hn-bold";
  font-size: 24px;
  letter-spacing: 3%;
}

#wrapper-landingpage h2 {
  margin-bottom: 8px;
  font-family: "hn-bold";
  font-size: 14px;
  letter-spacing: 3%;
  font-family: "hn-regular";
  font-size: 16px;
}

#wrapper-landingpage p {
  font-family: "hn-regular";
}

/* Buttons */
.mission-button {
  background-color: #1D466C;
  background: linear-gradient(90deg, var(--lightblue) 0%, #0B4883 100%);
  /*background: linear-gradient(90deg, rgba(38, 95, 149, 1) 0%, rgba(29, 70, 108, 1) 100%);*/
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
}

.locked {
  background: linear-gradient(90deg, RGBA(52, 100, 141, 0.7) 0%, #0B4883 100%);
  /*background: RGBA(29, 70, 106, 0.7);*/
}

.mission-button p {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.locked p {
  filter: blur(4px);
}

.done {
  background: #5594ED;
}

svg {
  margin: 0;
  padding: 0;
}

/* .unlocked svg {
  display: none;
} */

.locked-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--red);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: 'hn-regular';
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-align: center;
  width: 220px;
}

.stamp-out-btn{
  position:relative;
  border:none;
  padding:16px;
  border-radius:4px;
  font-size:16px;
  font-weight:bold;
  width:100%;
  overflow:hidden;
  color:black;


  background: linear-gradient(120deg, #d4af37, #b88a2f, #d4af37);
  background-size: 300% 300%;
  
}

.stamp-out-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(120deg,
          rgba(255, 255, 255, 0) 20%,
          rgba(255, 255, 255, 0.3) 50%,
          rgba(255, 255, 255, 0) 80%);
  transform: skewX(-20deg);
  animation: shimmer 3s linear infinite;
  pointer-events: none;
}

@keyframes shimmer {
  0% {
      left: -150%;
  }

  100% {
      left: 150%;
  }
}