<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="newsSite.css">
</head>
<body>

  <h1>SYDSVENSKAN</h1>
  <div class="newsNav">
    <p>Malmö</p>
    <p>Lund</p>
    <p>+Allt</p>
  </div>

  <div class="notis">
    <p class="red">Just nu</p>
    <p>Farliga bullar funna i Kungsparken</p>
  </div>

  <div class="notis">
    <p class="red">Direkt</p>
    <p>Polisens duktiga arbete i parken</p>
  </div>

  <div class="newsTxt">
    <img src="../../media/pictures/image 25.png" alt="Statz">
    <p><b>Cykelsäsongen börjar dra igång på allvar - och med den kommer cykelstölderna. Från april och framåt ökar antalet anmälda cykelstölder månad för månad.</b> Inte minst märks det i Malmö. 2024 gjordes 4 712 anmälningar om cykelstölder i kommunen, enligt siffror från Brottsförebyggande rådet, vilket motsvarar 13 anmälningar per 1 000 invånare. Det är tredje flest i landet och näst flest i Skåne, efter Lund - där det noterades 15,6 anmälningar per 1 000 invånare.<br>Dock är inte alla delar av Malmö lika hårt drabbade. Det visar data för de senaste fem åren. Det rör sig om mellan en handfull och drygt 800 anmälda stölder per område. Området med flest anmälda cykelstölder i Malmö kommun är Västra hamnen, det det handlar om 826 anmälningar under perioden 2020-2024.</p>
  </div>

</body>
</html>