* {
  box-sizing: border-box;
}

body{
  margin:0px;
}

.newsTxt{
  display:flex;
  flex-direction:column;
  align-items: center;
  border:1px solid rgba(000,000,000,0.25);
  margin: 0px 16px 16px 16px;
}

.newsTxt img{
  width:100%;
}

.newsNav{
  display:flex;
  justify-content: space-between;
  border-top: 1px solid rgba(000,000,000,0.25);
  border-bottom: 1px solid rgba(000,000,000,0.25);
  padding:0px 16px 0px 16px;
  font-family:helvetica;
  font-size:12px;
}

.notis{
  display:flex;
  box-shadow: 7px 8px 16px -1px rgba(168,168,168,1);
  padding:0px;
  margin:16px 16px 16px 16px;

  min-height:38px;
}

.notis p{
  padding: 8px;
  margin:0px;
  display: flex;
  align-items: center; 
  font-family:helvetica;
  font-size:12px; 
}

.notis .red{
  background-color:red;
  color:white;
  min-width:74px;
  font-weight:bolder;
  display: flex;
  align-items: center;
  justify-content: center;
}

.places{
  display:flex;
  padding:0px;
  margin:0px;
}

.places p:first-of-type{
  margin-right:16px;
}

.newsTxt b{
  font-size:16px;
}

.newsTxt p{
  margin:16px;
  font-family:helvetica;
  font-size:12px;
  line-height:130%;
  letter-spacing:0.12%;
}

.newsLogo{
  width:200px;
  height:100%;
  padding:12px;
}