@font-face {
    font-family: "goldman-regular";
    src: url(./fonts/Goldman/Goldman-Regular.ttf);
}

@font-face {
    font-family: "goldman-bold";
    src: url(./fonts/Goldman/Goldman-Bold.ttf);
}

@font-face {
    font-family: "hn-regular";
    src: url(./fonts/helvetica-neue/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: "hn-bold";
    src: url(./fonts/helvetica-neue/HelveticaNeueBold.otf);
}

@font-face {
    font-family: "hn-thin";
    src: url(./fonts/helvetica-neue/HelveticaNeueThin.otf);
}

:root {
    /* COLORS */
    --darkblue: #021C35;
    --lightblue: #5594ED;
    --yellow: #D0A631;
    --green: #138636;
    --red: #EF0F0F;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#results-popup {
    background: #fff;
    padding: 24px;
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
    width: 90%;
    max-width: 500px;
}

#results-popup h2 {
    font-family: 'hn-bold';
    font-size: 24px;
}

#results-popup p {
    font-family: hn-regular;
    font-size: 14px;
}

.results-list {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.result-item {
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

.result-item.correct {
    /* background: #e6ffe6; */
}

.result-item.incorrect {
    /* background: #ffe6e6; */
}

#closePopup {
    position: relative;
    overflow: hidden;
    padding: 12px 16px;
    font-family: 'hn-bold';
    font-size: 14px;
    background-color: #5594ED;
    /*
    background: linear-gradient(120deg, #d4af37, #b88a2f, #d4af37);
    background-size: 300% 300%;
    box-shadow: 0px 1px 10px 1px #727171;
    text-shadow: 1px 1px 8px #707070;
    color: white;
    */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

/*
#closePopup::before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 20%,
            rgba(255, 255, 255, 0.3) 50%,
            rgba(255, 255, 255, 0) 80%);
    transform: skewX(-20deg);
    animation: shimmer 3s linear infinite;
    pointer-events: none;
}

@keyframes shimmer {
    0% {
        left: -150%;
    }

    100% {
        left: 150%;
    }
}
*/

.correct {
    color: #138636;
}

.incorrect {
    color: #EF0F0F;
}