@font-face {
    font-family: "goldman-regular";
    src: url(./fonts/Goldman/Goldman-Regular.ttf);
}

@font-face {
    font-family: "goldman-bold";
    src: url(./fonts/Goldman/Goldman-Bold.ttf);
}

@font-face {
    font-family: "hn-regular";
    src: url(./fonts/helvetica-neue/HelveticaNeueRoman.otf);
}

@font-face {
    font-family: "hn-thin";
    src: url(./fonts/helvetica-neue/HelveticaNeueThin.otf);
}

@font-face {
    font-family: "hn-bold";
    src: url(./fonts/helvetica-neue/HelveticaNeueBold.otf);
}

:root {
    /* COLORS */
    --darkblue: #021C35;
    --lightblue: #5594ED;
    --yellow: #D0A631;
    --green: #138636;
    --red: #EF0F0F;
}

body {
    margin: 0;
    box-sizing: border-box;
}