.navDiv{
  border-bottom: 1px solid #5594ED;
  margin:16px;
  padding:0px;
  display:flex;
  justify-content:center;
}

.navDiv h2{
  font-weight:lighter;
  font-family:helvetica;
  font-size:14px;
}

.navDiv h2 b{
  font-weight:bold;
}