<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="twitter.css">
</head>
<body>

  <div class="wrapper">
  <div id="notification" class="hidden">
    <div class="logoContainer">
      <div class="twitterLogo">
        <img src="../../media/pictures/twitter.png">
        <p>TWITTER</p>
    </div>
      <p class="now">now</p>
    </div>
    <h3 id="username">Johannes12</h3>
    <p id="twitterTxt">Hatar dig</p>
  </div>
</div>

  <script src="twitter.js"></script>
  
</body>
</html>