.inputDiv{
  border-top:1px solid black;
  border-right:1px solid black;
  border-left:1px solid black;
  padding:8px;
  display:flex;
  flex-direction:column;
  flex-grow:1;

}

.inputDiv p{
  margin:0px;
  padding:0px;
}

.inputDiv input{
  margin:0px;
  padding:4px;
  border:none;
}

.inputDiv input:focus{
  outline:none;
}

.rapportDiv div:last-child{
  border-bottom:1px solid black;
}