/* body {
  margin: 16px;
} */

#wrapper-reportpage {
  margin: 16px;
}

H1 {
  font-size: 20px;
  margin-bottom: 16px;
  font-family: Helvetica;
}

H2 {
  font-size: 14px;
  margin-bottom: 8px;
  font-family: Helvetica;
}

input,
p {
  font-family: Helvetica;
  font-size: 14px;
}

.inputDiv {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding: 8px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.inputDiv p {
  margin: 0px;
  padding: 0px;
}

.inputDiv input {
  margin: 0px;
  padding: 4px;
  border: none;
}

.inputDiv input:focus {
  outline: none;
}

.rapportDiv div:last-child {
  border-bottom: 1px solid black;
}

.rapportInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.rapportInfo img {
  width: 55px;
  height: 77px;
}

.rapportText {
  text-align: end;
}

.rapportText h1 {
  margin-bottom: 8px;
}

.rapportText p {
  margin: 0px 0px 4px 0px;
}

.skickaIn {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.skickaIn p {
  color: #EF0F0F;
  margin: 0px 0px 8px 0px;
  padding: 0px;
  font-family: 'hn-bold';
  font-size: 14px;

}

.skickaIn button {
  flex-grow: 1;
  background-color: #5594ED;
  margin: 0px;
  padding: 8px;
  font-family: 'hn-bold';
  font-size: 14px;
  border: none;
  border-radius: 4px;
  height: 50px;
}

/* Lägg till detta i din CSS */
/* .stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2.0) rotate(0deg);

  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  z-index: 9999;
  pointer-events: none;
}

.stamp.show {
  transform: translate(-50%, -50%) scale(0.5) rotate(-15deg);

  opacity: 1;
} */
.stamp {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 90vw;
  /* maxstorlek i förhållande till skärmen */
  max-width: 400px;
  /* förhindra att den blir för stor på stora skärmar */
  transform: translate(-50%, -50%) scale(2.0) rotate(0deg);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  z-index: 9999;
  pointer-events: none;
}

.stamp.show {
  transform: translate(-50%, -50%) scale(1) rotate(-15deg);
  opacity: 1;
}


#submitBtn {
  font-size: 16px;
  padding: 8px 0;

}

.locked-popup {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--red);
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: 'hn-regular';
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-align: center;
  width: 220px;
}