<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="rapport.css">
</head>
<body>

  <div class="rapportDiv">

    <h1>Cykelstölden</h1>

    <div class="inputDiv">
      <p>Hade förövaren något på huvudet?</p>
      <input type="text" placeholder="Skriv här">
    </div>

    <div class="inputDiv">
      <p>Vilken färg var förövarens jacka?</p>
      <input type="text" placeholder="Skriv här">
    </div>

    <div class="inputDiv">
      <p>Bar förövaren på något?</p>
      <input type="text" placeholder="Skriv här">
    </div>

    <div class="inputDiv"> 
      <p>Var befann sig förövaren när du såg hen?</p>
      <input type="text" placeholder="Skriv här">
    </div>

    <div class="inputDiv">
      <p>Vad hade förövaren på fötterna?</p>
      <input type="text" placeholder="Skriv här">
    </div>

  </div>

</body>
</html>