.nav-left,
.nav-right {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-left {
  justify-content: flex-start;
  gap: 10px;
}

.nav-right {
  justify-content: flex-end;
}

#info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-thin {
  font-family: "hn-thin";
  font-size: 14px;
  color: white;
}

#logo-bold {
  font-family: "hn-bold";
  font-size: 14px;
  color: white;
}

.body-reportpage #logo-thin,
.body-reportpage #logo-bold {
  color: black;
}

#map-icon {
  width: 30px;
  height: 30px;
  position: relative;
  bottom: 2px;
}

#mission-timer {
  font-weight: bold;
  color: red;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--lightblue);
  margin-bottom: 24px;
  padding: 16px 0 24px 0;
  /* Lite luft i nav-baren */
  position: relative;
  height: 30px;
}

.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
  align-items: baseline;
  /* Viktigt: text på samma rad */
}

/* Logotyperna ska ha samma höjd, justera så här: */
#logo-thin,
#logo-bold {
  font-size: 16px;
  /* och "hn-bold" för bold så klart */
  color: white;
  line-height: 1;
  /* Förhindra att text hoppar */
  padding: 0;
  /* Ingen onödig padding */
  margin: 0;
  /* Ta bort standardmarginaler */
}

#mission-timer {
  font-family: 'hn-bold';
  font-size: 16px;

  display: flex;
  align-items: center;
  gap: 8px;
}

#mission-timer svg {
  position: relative;
  bottom: 2px;
}

#back-to-intro-btn svg {
  width: 24px;
  height: 24px;
}